<head>
<meta property="og:title" content="Vegas" />
<meta property="og:description" content="New Game Unlocked!" />
<meta property="og:image" content="http://e88slots-fb.s3.amazonaws.com/share/vegas/unlocked.png" />
</head>